:root {
    /* CSS HEX */
--night: #0b090cff;
--amaranth: #e01a4fff;
--tomato: #f15846ff;
--mikado-yellow: #fac22fff;
--moonstone: #53b3cbff;
--navbar: #F97E70;
--Text: #F9F7F3;
--Botones: #FBD34E;

/* CSS HSL */
--night: hsla(280, 14%, 4%, 1);
--amaranth: hsla(344, 79%, 49%, 1);
--tomato: hsla(6, 86%, 61%, 1);
--mikado-yellow: hsla(43, 95%, 58%, 1);
--moonstone: hsla(192, 54%, 56%, 1);

}

.bg-blue {
    background-color: #F97E70;
    padding: 20px;
  }

  .navbar-brand {
    color: #F9F7F3;
  }

  .form-control {
    width: 80%;
  }

  .btn-warning{
    background-color: #FBD34E;
  }

  .form-control{ 
    background-color: #F9F7F3;
  }